/* Region radius */

$radius-01: 2px;
$radius-02: 4px;
$radius-03: 6px;
$radius-04: 8px;
$radius-05: 10px;
$radius-06: 12px;
$radius-07: 14px;
$radius-08: 16px;
$radius-09: 18px;
$radius-10: 20px;
$radius-11: 22px;
$radius-12: 24px;
$radius-13: 26px;
/* Endregion radius */