/* Region spacing */

$spacer-01: 4px;
$spacer-02: 8px;
$spacer-03: 12px;
$spacer-04: 16px;
$spacer-05: 20px;
$spacer-06: 24px;
$spacer-07: 28px;
$spacer-08: 32px;
$spacer-09: 36px;
$spacer-10: 40px;
$spacer-11: 44px;
$spacer-12: 48px;
$spacer-13: 52px;
$spacer-14: 56px;
$spacer-15: 60px;
$spacer-16: 64px;
$spacer-17: 68px;
$spacer-18: 72px;
$spacer-19: 76px;
$spacer-20: 80px;
$spacer-21: 84px;
$spacer-22: 88px;
$spacer-23: 92px;
$spacer-24: 96px;
$spacer-25: 100px;
$spacer-26: 104px;
$spacer-27: 108px;
$spacer-28: 112px;
$spacer-29: 116px;
$spacer-30: 120px;
$spacer-31: 124px;
$spacer-32: 128px;
$spacer-33: 132px;
$spacer-34: 136px;
$spacer-35: 140px;
$spacer-36: 144px;
$spacer-37: 148px;
$spacer-38: 152px;
$spacer-39: 156px;
$spacer-40: 160px;
$spacer-41: 164px;
$spacer-42: 168px;
$spacer-43: 172px;
$spacer-44: 176px;
$spacer-45: 180px;
$spacer-120: 480px;

/* Endregion spacing */