@model LoginFormViewModel

@{
    Layout = "_Login_Layout";
}

<div id="LoginContainer" class="lib-white-card lib-w-120 lib-mr-45 lib-mt-25">
    <div class="lib-p-15">
        <div class="row justify-content-center lib-mb-12">
            <img class="lib-img" src="~/img/user.png"/>
        </div>
        <form asp-controller="Auth" asp-action="Login" data-method="POST" id="LofinForm" asp-antiforgery="false">
            <div class="row lib-mb-10">
                <input id="EmailForm" name="Email" class="lib-textbox lib-content-medium-l lib-text-gray-500" placeholder="Nazwa u żytkownika" type="text" />
            </div>
            <div class="row lib-mb-12">
                <input id="PasswordForm" name="Password" class="lib-textbox lib-content-medium-l lib-text-gray-500" placeholder="Hasło" type="password" />
            </div>
            <div class="row justify-content-end">
                <button type="submit" class="btn lib-dark-btn lib-text-gray-50 lib-w-24 lib-h-10">Zaloguj</button>
            </div>
        </form>
    </div>
</div>