@model CreateUserViewModel

<div class="lib-mb-5 lib-mt-25 lib-white-card lib-w-163">
    <div class="row lib-pt-8 justify-content-center">
        <span class="lib-content-extrabold-xl lib-text-blue-gray-800">DODAJ NOWEGO UŻYTKOWNIKA</span>
    </div>
    <form asp-controller="User" asp-action="AddUser" data-method="POST" id="AddUserForm" asp-antiforgery="false">
        <div class="row lib-p-7">
            <div class="col lib-m-2">
                <div class="row lib-mb-6">
                    <input id="FirstNameAddForm" name="FirstName" class="lib-textbox lib-content-medium-l lib-text-gray-500" placeholder="Imię" type="text" />
                </div>
                <div class="row lib-mb-6">
                    <input id="LastNameAddForm" name="LastName" class="lib-textbox lib-content-medium-l lib-text-gray-500" placeholder="Nazwisko" type="text" />
                </div>
                <div class="row lib-mb-6">
                    <input id="PasswordHashAddForm" name="Password" class="lib-textbox lib-content-medium-l lib-text-gray-500" placeholder="Hasło" type="text" />
                </div>
                <div class="row lib-mb-6">
                    <input id="ConfirmPasswordAddForm" name="ConfirmPassword" class="lib-textbox lib-content-medium-l lib-text-gray-500" placeholder="Powtórz hasło" type="text" />
                </div>
            </div>
            <div class="col lib-m-2">
                <div class="row lib-mb-6">
                    <input id="EmailAddForm" name="Email" class="lib-textbox lib-content-medium-l lib-text-gray-500" placeholder="Email" type="text" />
                </div>
                <div class="row lib-mb-6">
                    <select class="lib-select form-select lib-content-medium-l lib-text-gray-500" id="RoleDropdown" name="RoleId" aria-label="">
                        <option class="lib-content-medium-l lib-text-gray-500" selected>Rola</option>
                        <option class="lib-content-medium-l lib-text-gray-500" value="1">Administrator</option>
                        <option class="lib-content-medium-l lib-text-gray-500" value="2">Użytkownik</option>
                    </select>
                </div>
                <div class="row lib-mb-6">
                    <input id="ClassAddForm" name="Class" class="lib-textbox lib-content-medium-l lib-text-gray-500" placeholder="Klasa" type="text" />
                </div>
            </div>
        </div>
        <div class="row justify-content-end lib-pr-10 lib-pb-5">
            <button type="submit" class="btn lib-dark-btn lib-text-gray-50 lib-w-24 lib-h-10 lib-content-bold-m">DODAJ</button>
        </div>
    </form>
</div>