/*!*****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./Features/Shared/Content/core/core.scss ***!
  \*****************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap);
/*!*********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./Features/Shared/Content/core/core.scss (1) ***!
  \*********************************************************************************************************************************************************************************************/
/*Region blue gray */
/* Endregion blue gray */
/* Region gray */
/* Endregion gray */
/* Region green */
/* Endregion green*/
/* Region red */
/* Endregion red */
.lib-bg-color-blue-gray-25 {
  background-color: #FCFCFD; }

.lib-bg-blue-gray-25 {
  background: #FCFCFD; }

.lib-text-blue-gray-25 {
  color: #FCFCFD; }

.lib-border-color-blue-gray-25 {
  border-color: #FCFCFD !important; }

.lib-bg-color-blue-gray-50 {
  background-color: #F8F9FC; }

.lib-bg-blue-gray-50 {
  background: #F8F9FC; }

.lib-text-blue-gray-50 {
  color: #F8F9FC; }

.lib-border-color-blue-gray-50 {
  border-color: #F8F9FC !important; }

.lib-bg-color-blue-gray-100 {
  background-color: #EAECF5; }

.lib-bg-blue-gray-100 {
  background: #EAECF5; }

.lib-text-blue-gray-100 {
  color: #EAECF5; }

.lib-border-color-blue-gray-100 {
  border-color: #EAECF5 !important; }

.lib-bg-color-blue-gray-200 {
  background-color: #C8CCE5; }

.lib-bg-blue-gray-200 {
  background: #C8CCE5; }

.lib-text-blue-gray-200 {
  color: #C8CCE5; }

.lib-border-color-blue-gray-200 {
  border-color: #C8CCE5 !important; }

.lib-bg-color-blue-gray-300 {
  background-color: #9EA5D1; }

.lib-bg-blue-gray-300 {
  background: #9EA5D1; }

.lib-text-blue-gray-300 {
  color: #9EA5D1; }

.lib-border-color-blue-gray-300 {
  border-color: #9EA5D1 !important; }

.lib-bg-color-blue-gray-400 {
  background-color: #717BBC; }

.lib-bg-blue-gray-400 {
  background: #717BBC; }

.lib-text-blue-gray-400 {
  color: #717BBC; }

.lib-border-color-blue-gray-400 {
  border-color: #717BBC !important; }

.lib-bg-color-blue-gray-500 {
  background-color: #4E5BA6; }

.lib-bg-blue-gray-500 {
  background: #4E5BA6; }

.lib-text-blue-gray-500 {
  color: #4E5BA6; }

.lib-border-color-blue-gray-500 {
  border-color: #4E5BA6 !important; }

.lib-bg-color-blue-gray-600 {
  background-color: #3E4784; }

.lib-bg-blue-gray-600 {
  background: #3E4784; }

.lib-text-blue-gray-600 {
  color: #3E4784; }

.lib-border-color-blue-gray-600 {
  border-color: #3E4784 !important; }

.lib-bg-color-blue-gray-700 {
  background-color: #363F72; }

.lib-bg-blue-gray-700 {
  background: #363F72; }

.lib-text-blue-gray-700 {
  color: #363F72; }

.lib-border-color-blue-gray-700 {
  border-color: #363F72 !important; }

.lib-bg-color-blue-gray-800 {
  background-color: #293056; }

.lib-bg-blue-gray-800 {
  background: #293056; }

.lib-text-blue-gray-800 {
  color: #293056; }

.lib-border-color-blue-gray-800 {
  border-color: #293056 !important; }

.lib-bg-color-blue-gray-900 {
  background-color: #101323; }

.lib-bg-blue-gray-900 {
  background: #101323; }

.lib-text-blue-gray-900 {
  color: #101323; }

.lib-border-color-blue-gray-900 {
  border-color: #101323 !important; }

.lib-bg-color-gray-50 {
  background-color: #F9FAFB; }

.lib-bg-gray-50 {
  background: #F9FAFB; }

.lib-text-gray-50 {
  color: #F9FAFB; }

.lib-border-color-gray-50 {
  border-color: #F9FAFB !important; }

.lib-bg-color-gray-100 {
  background-color: #F2F4F7; }

.lib-bg-gray-100 {
  background: #F2F4F7; }

.lib-text-gray-100 {
  color: #F2F4F7; }

.lib-border-color-gray-100 {
  border-color: #F2F4F7 !important; }

.lib-bg-color-gray-200 {
  background-color: #E4E7EC; }

.lib-bg-gray-200 {
  background: #E4E7EC; }

.lib-text-gray-200 {
  color: #E4E7EC; }

.lib-border-color-gray-200 {
  border-color: #E4E7EC !important; }

.lib-bg-color-gray-300 {
  background-color: #D0D5DD; }

.lib-bg-gray-300 {
  background: #D0D5DD; }

.lib-text-gray-300 {
  color: #D0D5DD; }

.lib-border-color-gray-300 {
  border-color: #D0D5DD !important; }

.lib-bg-color-gray-400 {
  background-color: #98A2B3; }

.lib-bg-gray-400 {
  background: #98A2B3; }

.lib-text-gray-400 {
  color: #98A2B3; }

.lib-border-color-gray-400 {
  border-color: #98A2B3 !important; }

.lib-bg-color-gray-500 {
  background-color: #667085; }

.lib-bg-gray-500 {
  background: #667085; }

.lib-text-gray-500 {
  color: #667085; }

.lib-border-color-gray-500 {
  border-color: #667085 !important; }

.lib-bg-color-gray-600 {
  background-color: #475467; }

.lib-bg-gray-600 {
  background: #475467; }

.lib-text-gray-600 {
  color: #475467; }

.lib-border-color-gray-600 {
  border-color: #475467 !important; }

.lib-bg-color-gray-700 {
  background-color: #344054; }

.lib-bg-gray-700 {
  background: #344054; }

.lib-text-gray-700 {
  color: #344054; }

.lib-border-color-gray-700 {
  border-color: #344054 !important; }

.lib-bg-color-gray-800 {
  background-color: #1D2939; }

.lib-bg-gray-800 {
  background: #1D2939; }

.lib-text-gray-800 {
  color: #1D2939; }

.lib-border-color-gray-800 {
  border-color: #1D2939 !important; }

.lib-bg-color-gray-900 {
  background-color: #101828; }

.lib-bg-gray-900 {
  background: #101828; }

.lib-text-gray-900 {
  color: #101828; }

.lib-border-color-gray-900 {
  border-color: #101828 !important; }

.lib-bg-color-green-primary {
  background-color: #68AA76; }

.lib-bg-green-primary {
  background: #68AA76; }

.lib-text-green-primary {
  color: #68AA76; }

.lib-border-color-green-primary {
  border-color: #68AA76 !important; }

.lib-bg-color-red-primary {
  background-color: #F97066; }

.lib-bg-red-primary {
  background: #F97066; }

.lib-text-red-primary {
  color: #F97066; }

.lib-border-color-red-primary {
  border-color: #F97066 !important; }

.lib-bg-color-red-secondary {
  background-color: #7A271A; }

.lib-bg-red-secondary {
  background: #7A271A; }

.lib-text-red-secondary {
  color: #7A271A; }

.lib-border-color-red-secondary {
  border-color: #7A271A !important; }

/* Region spacing */
/* Endregion spacing */
.lib-m-1 {
  margin: 4px; }

.lib-mt-1 {
  margin-top: 4px; }

.lib-mb-1 {
  margin-bottom: 4px; }

.lib-ml-1 {
  margin-left: 4px; }

.lib-mr-1 {
  margin-right: 4px; }

.lib-my-1 {
  margin-top: 4px;
  margin-bottom: 4px; }

.lib-mx-1 {
  margin-left: 4px;
  margin-right: 4px; }

.lib-p-1 {
  padding: 4px; }

.lib-pt-1 {
  padding-top: 4px; }

.lib-pb-1 {
  padding-bottom: 4px; }

.lib-pl-1 {
  padding-left: 4px; }

.lib-pr-1 {
  padding-right: 4px; }

.lib-py-1 {
  padding-top: 4px;
  padding-bottom: 4px; }

.lib-px-1 {
  padding-left: 4px;
  padding-right: 4px; }

.lib-m-2 {
  margin: 8px; }

.lib-mt-2 {
  margin-top: 8px; }

.lib-mb-2 {
  margin-bottom: 8px; }

.lib-ml-2 {
  margin-left: 8px; }

.lib-mr-2 {
  margin-right: 8px; }

.lib-my-2 {
  margin-top: 8px;
  margin-bottom: 8px; }

.lib-mx-2 {
  margin-left: 8px;
  margin-right: 8px; }

.lib-p-2 {
  padding: 8px; }

.lib-pt-2 {
  padding-top: 8px; }

.lib-pb-2 {
  padding-bottom: 8px; }

.lib-pl-2 {
  padding-left: 8px; }

.lib-pr-2 {
  padding-right: 8px; }

.lib-py-2 {
  padding-top: 8px;
  padding-bottom: 8px; }

.lib-px-2 {
  padding-left: 8px;
  padding-right: 8px; }

.lib-m-3 {
  margin: 12px; }

.lib-mt-3 {
  margin-top: 12px; }

.lib-mb-3 {
  margin-bottom: 12px; }

.lib-ml-3 {
  margin-left: 12px; }

.lib-mr-3 {
  margin-right: 12px; }

.lib-my-3 {
  margin-top: 12px;
  margin-bottom: 12px; }

.lib-mx-3 {
  margin-left: 12px;
  margin-right: 12px; }

.lib-p-3 {
  padding: 12px; }

.lib-pt-3 {
  padding-top: 12px; }

.lib-pb-3 {
  padding-bottom: 12px; }

.lib-pl-3 {
  padding-left: 12px; }

.lib-pr-3 {
  padding-right: 12px; }

.lib-py-3 {
  padding-top: 12px;
  padding-bottom: 12px; }

.lib-px-3 {
  padding-left: 12px;
  padding-right: 12px; }

.lib-m-4 {
  margin: 16px; }

.lib-mt-4 {
  margin-top: 16px; }

.lib-mb-4 {
  margin-bottom: 16px; }

.lib-ml-4 {
  margin-left: 16px; }

.lib-mr-4 {
  margin-right: 16px; }

.lib-my-4 {
  margin-top: 16px;
  margin-bottom: 16px; }

.lib-mx-4 {
  margin-left: 16px;
  margin-right: 16px; }

.lib-p-4 {
  padding: 16px; }

.lib-pt-4 {
  padding-top: 16px; }

.lib-pb-4 {
  padding-bottom: 16px; }

.lib-pl-4 {
  padding-left: 16px; }

.lib-pr-4 {
  padding-right: 16px; }

.lib-py-4 {
  padding-top: 16px;
  padding-bottom: 16px; }

.lib-px-4 {
  padding-left: 16px;
  padding-right: 16px; }

.lib-m-5 {
  margin: 20px; }

.lib-mt-5 {
  margin-top: 20px; }

.lib-mb-5 {
  margin-bottom: 20px; }

.lib-ml-5 {
  margin-left: 20px; }

.lib-mr-5 {
  margin-right: 20px; }

.lib-my-5 {
  margin-top: 20px;
  margin-bottom: 20px; }

.lib-mx-5 {
  margin-left: 20px;
  margin-right: 20px; }

.lib-p-5 {
  padding: 20px; }

.lib-pt-5 {
  padding-top: 20px; }

.lib-pb-5 {
  padding-bottom: 20px; }

.lib-pl-5 {
  padding-left: 20px; }

.lib-pr-5 {
  padding-right: 20px; }

.lib-py-5 {
  padding-top: 20px;
  padding-bottom: 20px; }

.lib-px-5 {
  padding-left: 20px;
  padding-right: 20px; }

.lib-m-6 {
  margin: 24px; }

.lib-mt-6 {
  margin-top: 24px; }

.lib-mb-6 {
  margin-bottom: 24px; }

.lib-ml-6 {
  margin-left: 24px; }

.lib-mr-6 {
  margin-right: 24px; }

.lib-my-6 {
  margin-top: 24px;
  margin-bottom: 24px; }

.lib-mx-6 {
  margin-left: 24px;
  margin-right: 24px; }

.lib-p-6 {
  padding: 24px; }

.lib-pt-6 {
  padding-top: 24px; }

.lib-pb-6 {
  padding-bottom: 24px; }

.lib-pl-6 {
  padding-left: 24px; }

.lib-pr-6 {
  padding-right: 24px; }

.lib-py-6 {
  padding-top: 24px;
  padding-bottom: 24px; }

.lib-px-6 {
  padding-left: 24px;
  padding-right: 24px; }

.lib-m-7 {
  margin: 28px; }

.lib-mt-7 {
  margin-top: 28px; }

.lib-mb-7 {
  margin-bottom: 28px; }

.lib-ml-7 {
  margin-left: 28px; }

.lib-mr-7 {
  margin-right: 28px; }

.lib-my-7 {
  margin-top: 28px;
  margin-bottom: 28px; }

.lib-mx-7 {
  margin-left: 28px;
  margin-right: 28px; }

.lib-p-7 {
  padding: 28px; }

.lib-pt-7 {
  padding-top: 28px; }

.lib-pb-7 {
  padding-bottom: 28px; }

.lib-pl-7 {
  padding-left: 28px; }

.lib-pr-7 {
  padding-right: 28px; }

.lib-py-7 {
  padding-top: 28px;
  padding-bottom: 28px; }

.lib-px-7 {
  padding-left: 28px;
  padding-right: 28px; }

.lib-m-8 {
  margin: 32px; }

.lib-mt-8 {
  margin-top: 32px; }

.lib-mb-8 {
  margin-bottom: 32px; }

.lib-ml-8 {
  margin-left: 32px; }

.lib-mr-8 {
  margin-right: 32px; }

.lib-my-8 {
  margin-top: 32px;
  margin-bottom: 32px; }

.lib-mx-8 {
  margin-left: 32px;
  margin-right: 32px; }

.lib-p-8 {
  padding: 32px; }

.lib-pt-8 {
  padding-top: 32px; }

.lib-pb-8 {
  padding-bottom: 32px; }

.lib-pl-8 {
  padding-left: 32px; }

.lib-pr-8 {
  padding-right: 32px; }

.lib-py-8 {
  padding-top: 32px;
  padding-bottom: 32px; }

.lib-px-8 {
  padding-left: 32px;
  padding-right: 32px; }

.lib-m-9 {
  margin: 36px; }

.lib-mt-9 {
  margin-top: 36px; }

.lib-mb-9 {
  margin-bottom: 36px; }

.lib-ml-9 {
  margin-left: 36px; }

.lib-mr-9 {
  margin-right: 36px; }

.lib-my-9 {
  margin-top: 36px;
  margin-bottom: 36px; }

.lib-mx-9 {
  margin-left: 36px;
  margin-right: 36px; }

.lib-p-9 {
  padding: 36px; }

.lib-pt-9 {
  padding-top: 36px; }

.lib-pb-9 {
  padding-bottom: 36px; }

.lib-pl-9 {
  padding-left: 36px; }

.lib-pr-9 {
  padding-right: 36px; }

.lib-py-9 {
  padding-top: 36px;
  padding-bottom: 36px; }

.lib-px-9 {
  padding-left: 36px;
  padding-right: 36px; }

.lib-m-10 {
  margin: 40px; }

.lib-mt-10 {
  margin-top: 40px; }

.lib-mb-10 {
  margin-bottom: 40px; }

.lib-ml-10 {
  margin-left: 40px; }

.lib-mr-10 {
  margin-right: 40px; }

.lib-my-10 {
  margin-top: 40px;
  margin-bottom: 40px; }

.lib-mx-10 {
  margin-left: 40px;
  margin-right: 40px; }

.lib-p-10 {
  padding: 40px; }

.lib-pt-10 {
  padding-top: 40px; }

.lib-pb-10 {
  padding-bottom: 40px; }

.lib-pl-10 {
  padding-left: 40px; }

.lib-pr-10 {
  padding-right: 40px; }

.lib-py-10 {
  padding-top: 40px;
  padding-bottom: 40px; }

.lib-px-10 {
  padding-left: 40px;
  padding-right: 40px; }

.lib-m-11 {
  margin: 44px; }

.lib-mt-11 {
  margin-top: 44px; }

.lib-mb-11 {
  margin-bottom: 44px; }

.lib-ml-11 {
  margin-left: 44px; }

.lib-mr-11 {
  margin-right: 44px; }

.lib-my-11 {
  margin-top: 44px;
  margin-bottom: 44px; }

.lib-mx-11 {
  margin-left: 44px;
  margin-right: 44px; }

.lib-p-11 {
  padding: 44px; }

.lib-pt-11 {
  padding-top: 44px; }

.lib-pb-11 {
  padding-bottom: 44px; }

.lib-pl-11 {
  padding-left: 44px; }

.lib-pr-11 {
  padding-right: 44px; }

.lib-py-11 {
  padding-top: 44px;
  padding-bottom: 44px; }

.lib-px-11 {
  padding-left: 44px;
  padding-right: 44px; }

.lib-m-12 {
  margin: 48px; }

.lib-mt-12 {
  margin-top: 48px; }

.lib-mb-12 {
  margin-bottom: 48px; }

.lib-ml-12 {
  margin-left: 48px; }

.lib-mr-12 {
  margin-right: 48px; }

.lib-my-12 {
  margin-top: 48px;
  margin-bottom: 48px; }

.lib-mx-12 {
  margin-left: 48px;
  margin-right: 48px; }

.lib-p-12 {
  padding: 48px; }

.lib-pt-12 {
  padding-top: 48px; }

.lib-pb-12 {
  padding-bottom: 48px; }

.lib-pl-12 {
  padding-left: 48px; }

.lib-pr-12 {
  padding-right: 48px; }

.lib-py-12 {
  padding-top: 48px;
  padding-bottom: 48px; }

.lib-px-12 {
  padding-left: 48px;
  padding-right: 48px; }

.lib-m-13 {
  margin: 52px; }

.lib-mt-13 {
  margin-top: 52px; }

.lib-mb-13 {
  margin-bottom: 52px; }

.lib-ml-13 {
  margin-left: 52px; }

.lib-mr-13 {
  margin-right: 52px; }

.lib-my-13 {
  margin-top: 52px;
  margin-bottom: 52px; }

.lib-mx-13 {
  margin-left: 52px;
  margin-right: 52px; }

.lib-p-13 {
  padding: 52px; }

.lib-pt-13 {
  padding-top: 52px; }

.lib-pb-13 {
  padding-bottom: 52px; }

.lib-pl-13 {
  padding-left: 52px; }

.lib-pr-13 {
  padding-right: 52px; }

.lib-py-13 {
  padding-top: 52px;
  padding-bottom: 52px; }

.lib-px-13 {
  padding-left: 52px;
  padding-right: 52px; }

.lib-m-14 {
  margin: 56px; }

.lib-mt-14 {
  margin-top: 56px; }

.lib-mb-14 {
  margin-bottom: 56px; }

.lib-ml-14 {
  margin-left: 56px; }

.lib-mr-14 {
  margin-right: 56px; }

.lib-my-14 {
  margin-top: 56px;
  margin-bottom: 56px; }

.lib-mx-14 {
  margin-left: 56px;
  margin-right: 56px; }

.lib-p-14 {
  padding: 56px; }

.lib-pt-14 {
  padding-top: 56px; }

.lib-pb-14 {
  padding-bottom: 56px; }

.lib-pl-14 {
  padding-left: 56px; }

.lib-pr-14 {
  padding-right: 56px; }

.lib-py-14 {
  padding-top: 56px;
  padding-bottom: 56px; }

.lib-px-14 {
  padding-left: 56px;
  padding-right: 56px; }

.lib-m-15 {
  margin: 60px; }

.lib-mt-15 {
  margin-top: 60px; }

.lib-mb-15 {
  margin-bottom: 60px; }

.lib-ml-15 {
  margin-left: 60px; }

.lib-mr-15 {
  margin-right: 60px; }

.lib-my-15 {
  margin-top: 60px;
  margin-bottom: 60px; }

.lib-mx-15 {
  margin-left: 60px;
  margin-right: 60px; }

.lib-p-15 {
  padding: 60px; }

.lib-pt-15 {
  padding-top: 60px; }

.lib-pb-15 {
  padding-bottom: 60px; }

.lib-pl-15 {
  padding-left: 60px; }

.lib-pr-15 {
  padding-right: 60px; }

.lib-py-15 {
  padding-top: 60px;
  padding-bottom: 60px; }

.lib-px-15 {
  padding-left: 60px;
  padding-right: 60px; }

.lib-m-16 {
  margin: 64px; }

.lib-mt-16 {
  margin-top: 64px; }

.lib-mb-16 {
  margin-bottom: 64px; }

.lib-ml-16 {
  margin-left: 64px; }

.lib-mr-16 {
  margin-right: 64px; }

.lib-my-16 {
  margin-top: 64px;
  margin-bottom: 64px; }

.lib-mx-16 {
  margin-left: 64px;
  margin-right: 64px; }

.lib-p-16 {
  padding: 64px; }

.lib-pt-16 {
  padding-top: 64px; }

.lib-pb-16 {
  padding-bottom: 64px; }

.lib-pl-16 {
  padding-left: 64px; }

.lib-pr-16 {
  padding-right: 64px; }

.lib-py-16 {
  padding-top: 64px;
  padding-bottom: 64px; }

.lib-px-16 {
  padding-left: 64px;
  padding-right: 64px; }

.lib-m-17 {
  margin: 68px; }

.lib-mt-17 {
  margin-top: 68px; }

.lib-mb-17 {
  margin-bottom: 68px; }

.lib-ml-17 {
  margin-left: 68px; }

.lib-mr-17 {
  margin-right: 68px; }

.lib-my-17 {
  margin-top: 68px;
  margin-bottom: 68px; }

.lib-mx-17 {
  margin-left: 68px;
  margin-right: 68px; }

.lib-p-17 {
  padding: 68px; }

.lib-pt-17 {
  padding-top: 68px; }

.lib-pb-17 {
  padding-bottom: 68px; }

.lib-pl-17 {
  padding-left: 68px; }

.lib-pr-17 {
  padding-right: 68px; }

.lib-py-17 {
  padding-top: 68px;
  padding-bottom: 68px; }

.lib-px-17 {
  padding-left: 68px;
  padding-right: 68px; }

.lib-m-18 {
  margin: 72px; }

.lib-mt-18 {
  margin-top: 72px; }

.lib-mb-18 {
  margin-bottom: 72px; }

.lib-ml-18 {
  margin-left: 72px; }

.lib-mr-18 {
  margin-right: 72px; }

.lib-my-18 {
  margin-top: 72px;
  margin-bottom: 72px; }

.lib-mx-18 {
  margin-left: 72px;
  margin-right: 72px; }

.lib-p-18 {
  padding: 72px; }

.lib-pt-18 {
  padding-top: 72px; }

.lib-pb-18 {
  padding-bottom: 72px; }

.lib-pl-18 {
  padding-left: 72px; }

.lib-pr-18 {
  padding-right: 72px; }

.lib-py-18 {
  padding-top: 72px;
  padding-bottom: 72px; }

.lib-px-18 {
  padding-left: 72px;
  padding-right: 72px; }

.lib-m-19 {
  margin: 76px; }

.lib-mt-19 {
  margin-top: 76px; }

.lib-mb-19 {
  margin-bottom: 76px; }

.lib-ml-19 {
  margin-left: 76px; }

.lib-mr-19 {
  margin-right: 76px; }

.lib-my-19 {
  margin-top: 76px;
  margin-bottom: 76px; }

.lib-mx-19 {
  margin-left: 76px;
  margin-right: 76px; }

.lib-p-19 {
  padding: 76px; }

.lib-pt-19 {
  padding-top: 76px; }

.lib-pb-19 {
  padding-bottom: 76px; }

.lib-pl-19 {
  padding-left: 76px; }

.lib-pr-19 {
  padding-right: 76px; }

.lib-py-19 {
  padding-top: 76px;
  padding-bottom: 76px; }

.lib-px-19 {
  padding-left: 76px;
  padding-right: 76px; }

.lib-m-20 {
  margin: 80px; }

.lib-mt-20 {
  margin-top: 80px; }

.lib-mb-20 {
  margin-bottom: 80px; }

.lib-ml-20 {
  margin-left: 80px; }

.lib-mr-20 {
  margin-right: 80px; }

.lib-my-20 {
  margin-top: 80px;
  margin-bottom: 80px; }

.lib-mx-20 {
  margin-left: 80px;
  margin-right: 80px; }

.lib-p-20 {
  padding: 80px; }

.lib-pt-20 {
  padding-top: 80px; }

.lib-pb-20 {
  padding-bottom: 80px; }

.lib-pl-20 {
  padding-left: 80px; }

.lib-pr-20 {
  padding-right: 80px; }

.lib-py-20 {
  padding-top: 80px;
  padding-bottom: 80px; }

.lib-px-20 {
  padding-left: 80px;
  padding-right: 80px; }

.lib-m-21 {
  margin: 84px; }

.lib-mt-21 {
  margin-top: 84px; }

.lib-mb-21 {
  margin-bottom: 84px; }

.lib-ml-21 {
  margin-left: 84px; }

.lib-mr-21 {
  margin-right: 84px; }

.lib-my-21 {
  margin-top: 84px;
  margin-bottom: 84px; }

.lib-mx-21 {
  margin-left: 84px;
  margin-right: 84px; }

.lib-p-21 {
  padding: 84px; }

.lib-pt-21 {
  padding-top: 84px; }

.lib-pb-21 {
  padding-bottom: 84px; }

.lib-pl-21 {
  padding-left: 84px; }

.lib-pr-21 {
  padding-right: 84px; }

.lib-py-21 {
  padding-top: 84px;
  padding-bottom: 84px; }

.lib-px-21 {
  padding-left: 84px;
  padding-right: 84px; }

.lib-m-22 {
  margin: 88px; }

.lib-mt-22 {
  margin-top: 88px; }

.lib-mb-22 {
  margin-bottom: 88px; }

.lib-ml-22 {
  margin-left: 88px; }

.lib-mr-22 {
  margin-right: 88px; }

.lib-my-22 {
  margin-top: 88px;
  margin-bottom: 88px; }

.lib-mx-22 {
  margin-left: 88px;
  margin-right: 88px; }

.lib-p-22 {
  padding: 88px; }

.lib-pt-22 {
  padding-top: 88px; }

.lib-pb-22 {
  padding-bottom: 88px; }

.lib-pl-22 {
  padding-left: 88px; }

.lib-pr-22 {
  padding-right: 88px; }

.lib-py-22 {
  padding-top: 88px;
  padding-bottom: 88px; }

.lib-px-22 {
  padding-left: 88px;
  padding-right: 88px; }

.lib-m-23 {
  margin: 92px; }

.lib-mt-23 {
  margin-top: 92px; }

.lib-mb-23 {
  margin-bottom: 92px; }

.lib-ml-23 {
  margin-left: 92px; }

.lib-mr-23 {
  margin-right: 92px; }

.lib-my-23 {
  margin-top: 92px;
  margin-bottom: 92px; }

.lib-mx-23 {
  margin-left: 92px;
  margin-right: 92px; }

.lib-p-23 {
  padding: 92px; }

.lib-pt-23 {
  padding-top: 92px; }

.lib-pb-23 {
  padding-bottom: 92px; }

.lib-pl-23 {
  padding-left: 92px; }

.lib-pr-23 {
  padding-right: 92px; }

.lib-py-23 {
  padding-top: 92px;
  padding-bottom: 92px; }

.lib-px-23 {
  padding-left: 92px;
  padding-right: 92px; }

.lib-m-24 {
  margin: 96px; }

.lib-mt-24 {
  margin-top: 96px; }

.lib-mb-24 {
  margin-bottom: 96px; }

.lib-ml-24 {
  margin-left: 96px; }

.lib-mr-24 {
  margin-right: 96px; }

.lib-my-24 {
  margin-top: 96px;
  margin-bottom: 96px; }

.lib-mx-24 {
  margin-left: 96px;
  margin-right: 96px; }

.lib-p-24 {
  padding: 96px; }

.lib-pt-24 {
  padding-top: 96px; }

.lib-pb-24 {
  padding-bottom: 96px; }

.lib-pl-24 {
  padding-left: 96px; }

.lib-pr-24 {
  padding-right: 96px; }

.lib-py-24 {
  padding-top: 96px;
  padding-bottom: 96px; }

.lib-px-24 {
  padding-left: 96px;
  padding-right: 96px; }

.lib-m-25 {
  margin: 100px; }

.lib-mt-25 {
  margin-top: 100px; }

.lib-mb-25 {
  margin-bottom: 100px; }

.lib-ml-25 {
  margin-left: 100px; }

.lib-mr-25 {
  margin-right: 100px; }

.lib-my-25 {
  margin-top: 100px;
  margin-bottom: 100px; }

.lib-mx-25 {
  margin-left: 100px;
  margin-right: 100px; }

.lib-p-25 {
  padding: 100px; }

.lib-pt-25 {
  padding-top: 100px; }

.lib-pb-25 {
  padding-bottom: 100px; }

.lib-pl-25 {
  padding-left: 100px; }

.lib-pr-25 {
  padding-right: 100px; }

.lib-py-25 {
  padding-top: 100px;
  padding-bottom: 100px; }

.lib-px-25 {
  padding-left: 100px;
  padding-right: 100px; }

.lib-m-26 {
  margin: 104px; }

.lib-mt-26 {
  margin-top: 104px; }

.lib-mb-26 {
  margin-bottom: 104px; }

.lib-ml-26 {
  margin-left: 104px; }

.lib-mr-26 {
  margin-right: 104px; }

.lib-my-26 {
  margin-top: 104px;
  margin-bottom: 104px; }

.lib-mx-26 {
  margin-left: 104px;
  margin-right: 104px; }

.lib-p-26 {
  padding: 104px; }

.lib-pt-26 {
  padding-top: 104px; }

.lib-pb-26 {
  padding-bottom: 104px; }

.lib-pl-26 {
  padding-left: 104px; }

.lib-pr-26 {
  padding-right: 104px; }

.lib-py-26 {
  padding-top: 104px;
  padding-bottom: 104px; }

.lib-px-26 {
  padding-left: 104px;
  padding-right: 104px; }

.lib-m-27 {
  margin: 108px; }

.lib-mt-27 {
  margin-top: 108px; }

.lib-mb-27 {
  margin-bottom: 108px; }

.lib-ml-27 {
  margin-left: 108px; }

.lib-mr-27 {
  margin-right: 108px; }

.lib-my-27 {
  margin-top: 108px;
  margin-bottom: 108px; }

.lib-mx-27 {
  margin-left: 108px;
  margin-right: 108px; }

.lib-p-27 {
  padding: 108px; }

.lib-pt-27 {
  padding-top: 108px; }

.lib-pb-27 {
  padding-bottom: 108px; }

.lib-pl-27 {
  padding-left: 108px; }

.lib-pr-27 {
  padding-right: 108px; }

.lib-py-27 {
  padding-top: 108px;
  padding-bottom: 108px; }

.lib-px-27 {
  padding-left: 108px;
  padding-right: 108px; }

.lib-m-28 {
  margin: 112px; }

.lib-mt-28 {
  margin-top: 112px; }

.lib-mb-28 {
  margin-bottom: 112px; }

.lib-ml-28 {
  margin-left: 112px; }

.lib-mr-28 {
  margin-right: 112px; }

.lib-my-28 {
  margin-top: 112px;
  margin-bottom: 112px; }

.lib-mx-28 {
  margin-left: 112px;
  margin-right: 112px; }

.lib-p-28 {
  padding: 112px; }

.lib-pt-28 {
  padding-top: 112px; }

.lib-pb-28 {
  padding-bottom: 112px; }

.lib-pl-28 {
  padding-left: 112px; }

.lib-pr-28 {
  padding-right: 112px; }

.lib-py-28 {
  padding-top: 112px;
  padding-bottom: 112px; }

.lib-px-28 {
  padding-left: 112px;
  padding-right: 112px; }

.lib-m-29 {
  margin: 116px; }

.lib-mt-29 {
  margin-top: 116px; }

.lib-mb-29 {
  margin-bottom: 116px; }

.lib-ml-29 {
  margin-left: 116px; }

.lib-mr-29 {
  margin-right: 116px; }

.lib-my-29 {
  margin-top: 116px;
  margin-bottom: 116px; }

.lib-mx-29 {
  margin-left: 116px;
  margin-right: 116px; }

.lib-p-29 {
  padding: 116px; }

.lib-pt-29 {
  padding-top: 116px; }

.lib-pb-29 {
  padding-bottom: 116px; }

.lib-pl-29 {
  padding-left: 116px; }

.lib-pr-29 {
  padding-right: 116px; }

.lib-py-29 {
  padding-top: 116px;
  padding-bottom: 116px; }

.lib-px-29 {
  padding-left: 116px;
  padding-right: 116px; }

.lib-m-30 {
  margin: 120px; }

.lib-mt-30 {
  margin-top: 120px; }

.lib-mb-30 {
  margin-bottom: 120px; }

.lib-ml-30 {
  margin-left: 120px; }

.lib-mr-30 {
  margin-right: 120px; }

.lib-my-30 {
  margin-top: 120px;
  margin-bottom: 120px; }

.lib-mx-30 {
  margin-left: 120px;
  margin-right: 120px; }

.lib-p-30 {
  padding: 120px; }

.lib-pt-30 {
  padding-top: 120px; }

.lib-pb-30 {
  padding-bottom: 120px; }

.lib-pl-30 {
  padding-left: 120px; }

.lib-pr-30 {
  padding-right: 120px; }

.lib-py-30 {
  padding-top: 120px;
  padding-bottom: 120px; }

.lib-px-30 {
  padding-left: 120px;
  padding-right: 120px; }

.lib-m-31 {
  margin: 124px; }

.lib-mt-31 {
  margin-top: 124px; }

.lib-mb-31 {
  margin-bottom: 124px; }

.lib-ml-31 {
  margin-left: 124px; }

.lib-mr-31 {
  margin-right: 124px; }

.lib-my-31 {
  margin-top: 124px;
  margin-bottom: 124px; }

.lib-mx-31 {
  margin-left: 124px;
  margin-right: 124px; }

.lib-p-31 {
  padding: 124px; }

.lib-pt-31 {
  padding-top: 124px; }

.lib-pb-31 {
  padding-bottom: 124px; }

.lib-pl-31 {
  padding-left: 124px; }

.lib-pr-31 {
  padding-right: 124px; }

.lib-py-31 {
  padding-top: 124px;
  padding-bottom: 124px; }

.lib-px-31 {
  padding-left: 124px;
  padding-right: 124px; }

.lib-m-32 {
  margin: 128px; }

.lib-mt-32 {
  margin-top: 128px; }

.lib-mb-32 {
  margin-bottom: 128px; }

.lib-ml-32 {
  margin-left: 128px; }

.lib-mr-32 {
  margin-right: 128px; }

.lib-my-32 {
  margin-top: 128px;
  margin-bottom: 128px; }

.lib-mx-32 {
  margin-left: 128px;
  margin-right: 128px; }

.lib-p-32 {
  padding: 128px; }

.lib-pt-32 {
  padding-top: 128px; }

.lib-pb-32 {
  padding-bottom: 128px; }

.lib-pl-32 {
  padding-left: 128px; }

.lib-pr-32 {
  padding-right: 128px; }

.lib-py-32 {
  padding-top: 128px;
  padding-bottom: 128px; }

.lib-px-32 {
  padding-left: 128px;
  padding-right: 128px; }

.lib-m-33 {
  margin: 132px; }

.lib-mt-33 {
  margin-top: 132px; }

.lib-mb-33 {
  margin-bottom: 132px; }

.lib-ml-33 {
  margin-left: 132px; }

.lib-mr-33 {
  margin-right: 132px; }

.lib-my-33 {
  margin-top: 132px;
  margin-bottom: 132px; }

.lib-mx-33 {
  margin-left: 132px;
  margin-right: 132px; }

.lib-p-33 {
  padding: 132px; }

.lib-pt-33 {
  padding-top: 132px; }

.lib-pb-33 {
  padding-bottom: 132px; }

.lib-pl-33 {
  padding-left: 132px; }

.lib-pr-33 {
  padding-right: 132px; }

.lib-py-33 {
  padding-top: 132px;
  padding-bottom: 132px; }

.lib-px-33 {
  padding-left: 132px;
  padding-right: 132px; }

.lib-m-34 {
  margin: 136px; }

.lib-mt-34 {
  margin-top: 136px; }

.lib-mb-34 {
  margin-bottom: 136px; }

.lib-ml-34 {
  margin-left: 136px; }

.lib-mr-34 {
  margin-right: 136px; }

.lib-my-34 {
  margin-top: 136px;
  margin-bottom: 136px; }

.lib-mx-34 {
  margin-left: 136px;
  margin-right: 136px; }

.lib-p-34 {
  padding: 136px; }

.lib-pt-34 {
  padding-top: 136px; }

.lib-pb-34 {
  padding-bottom: 136px; }

.lib-pl-34 {
  padding-left: 136px; }

.lib-pr-34 {
  padding-right: 136px; }

.lib-py-34 {
  padding-top: 136px;
  padding-bottom: 136px; }

.lib-px-34 {
  padding-left: 136px;
  padding-right: 136px; }

.lib-m-35 {
  margin: 140px; }

.lib-mt-35 {
  margin-top: 140px; }

.lib-mb-35 {
  margin-bottom: 140px; }

.lib-ml-35 {
  margin-left: 140px; }

.lib-mr-35 {
  margin-right: 140px; }

.lib-my-35 {
  margin-top: 140px;
  margin-bottom: 140px; }

.lib-mx-35 {
  margin-left: 140px;
  margin-right: 140px; }

.lib-p-35 {
  padding: 140px; }

.lib-pt-35 {
  padding-top: 140px; }

.lib-pb-35 {
  padding-bottom: 140px; }

.lib-pl-35 {
  padding-left: 140px; }

.lib-pr-35 {
  padding-right: 140px; }

.lib-py-35 {
  padding-top: 140px;
  padding-bottom: 140px; }

.lib-px-35 {
  padding-left: 140px;
  padding-right: 140px; }

.lib-m-36 {
  margin: 144px; }

.lib-mt-36 {
  margin-top: 144px; }

.lib-mb-36 {
  margin-bottom: 144px; }

.lib-ml-36 {
  margin-left: 144px; }

.lib-mr-36 {
  margin-right: 144px; }

.lib-my-36 {
  margin-top: 144px;
  margin-bottom: 144px; }

.lib-mx-36 {
  margin-left: 144px;
  margin-right: 144px; }

.lib-p-36 {
  padding: 144px; }

.lib-pt-36 {
  padding-top: 144px; }

.lib-pb-36 {
  padding-bottom: 144px; }

.lib-pl-36 {
  padding-left: 144px; }

.lib-pr-36 {
  padding-right: 144px; }

.lib-py-36 {
  padding-top: 144px;
  padding-bottom: 144px; }

.lib-px-36 {
  padding-left: 144px;
  padding-right: 144px; }

.lib-m-37 {
  margin: 148px; }

.lib-mt-37 {
  margin-top: 148px; }

.lib-mb-37 {
  margin-bottom: 148px; }

.lib-ml-37 {
  margin-left: 148px; }

.lib-mr-37 {
  margin-right: 148px; }

.lib-my-37 {
  margin-top: 148px;
  margin-bottom: 148px; }

.lib-mx-37 {
  margin-left: 148px;
  margin-right: 148px; }

.lib-p-37 {
  padding: 148px; }

.lib-pt-37 {
  padding-top: 148px; }

.lib-pb-37 {
  padding-bottom: 148px; }

.lib-pl-37 {
  padding-left: 148px; }

.lib-pr-37 {
  padding-right: 148px; }

.lib-py-37 {
  padding-top: 148px;
  padding-bottom: 148px; }

.lib-px-37 {
  padding-left: 148px;
  padding-right: 148px; }

.lib-m-38 {
  margin: 152px; }

.lib-mt-38 {
  margin-top: 152px; }

.lib-mb-38 {
  margin-bottom: 152px; }

.lib-ml-38 {
  margin-left: 152px; }

.lib-mr-38 {
  margin-right: 152px; }

.lib-my-38 {
  margin-top: 152px;
  margin-bottom: 152px; }

.lib-mx-38 {
  margin-left: 152px;
  margin-right: 152px; }

.lib-p-38 {
  padding: 152px; }

.lib-pt-38 {
  padding-top: 152px; }

.lib-pb-38 {
  padding-bottom: 152px; }

.lib-pl-38 {
  padding-left: 152px; }

.lib-pr-38 {
  padding-right: 152px; }

.lib-py-38 {
  padding-top: 152px;
  padding-bottom: 152px; }

.lib-px-38 {
  padding-left: 152px;
  padding-right: 152px; }

.lib-m-39 {
  margin: 156px; }

.lib-mt-39 {
  margin-top: 156px; }

.lib-mb-39 {
  margin-bottom: 156px; }

.lib-ml-39 {
  margin-left: 156px; }

.lib-mr-39 {
  margin-right: 156px; }

.lib-my-39 {
  margin-top: 156px;
  margin-bottom: 156px; }

.lib-mx-39 {
  margin-left: 156px;
  margin-right: 156px; }

.lib-p-39 {
  padding: 156px; }

.lib-pt-39 {
  padding-top: 156px; }

.lib-pb-39 {
  padding-bottom: 156px; }

.lib-pl-39 {
  padding-left: 156px; }

.lib-pr-39 {
  padding-right: 156px; }

.lib-py-39 {
  padding-top: 156px;
  padding-bottom: 156px; }

.lib-px-39 {
  padding-left: 156px;
  padding-right: 156px; }

.lib-m-40 {
  margin: 160px; }

.lib-mt-40 {
  margin-top: 160px; }

.lib-mb-40 {
  margin-bottom: 160px; }

.lib-ml-40 {
  margin-left: 160px; }

.lib-mr-40 {
  margin-right: 160px; }

.lib-my-40 {
  margin-top: 160px;
  margin-bottom: 160px; }

.lib-mx-40 {
  margin-left: 160px;
  margin-right: 160px; }

.lib-p-40 {
  padding: 160px; }

.lib-pt-40 {
  padding-top: 160px; }

.lib-pb-40 {
  padding-bottom: 160px; }

.lib-pl-40 {
  padding-left: 160px; }

.lib-pr-40 {
  padding-right: 160px; }

.lib-py-40 {
  padding-top: 160px;
  padding-bottom: 160px; }

.lib-px-40 {
  padding-left: 160px;
  padding-right: 160px; }

.lib-m-41 {
  margin: 164px; }

.lib-mt-41 {
  margin-top: 164px; }

.lib-mb-41 {
  margin-bottom: 164px; }

.lib-ml-41 {
  margin-left: 164px; }

.lib-mr-41 {
  margin-right: 164px; }

.lib-my-41 {
  margin-top: 164px;
  margin-bottom: 164px; }

.lib-mx-41 {
  margin-left: 164px;
  margin-right: 164px; }

.lib-p-41 {
  padding: 164px; }

.lib-pt-41 {
  padding-top: 164px; }

.lib-pb-41 {
  padding-bottom: 164px; }

.lib-pl-41 {
  padding-left: 164px; }

.lib-pr-41 {
  padding-right: 164px; }

.lib-py-41 {
  padding-top: 164px;
  padding-bottom: 164px; }

.lib-px-41 {
  padding-left: 164px;
  padding-right: 164px; }

.lib-m-42 {
  margin: 168px; }

.lib-mt-42 {
  margin-top: 168px; }

.lib-mb-42 {
  margin-bottom: 168px; }

.lib-ml-42 {
  margin-left: 168px; }

.lib-mr-42 {
  margin-right: 168px; }

.lib-my-42 {
  margin-top: 168px;
  margin-bottom: 168px; }

.lib-mx-42 {
  margin-left: 168px;
  margin-right: 168px; }

.lib-p-42 {
  padding: 168px; }

.lib-pt-42 {
  padding-top: 168px; }

.lib-pb-42 {
  padding-bottom: 168px; }

.lib-pl-42 {
  padding-left: 168px; }

.lib-pr-42 {
  padding-right: 168px; }

.lib-py-42 {
  padding-top: 168px;
  padding-bottom: 168px; }

.lib-px-42 {
  padding-left: 168px;
  padding-right: 168px; }

.lib-m-43 {
  margin: 172px; }

.lib-mt-43 {
  margin-top: 172px; }

.lib-mb-43 {
  margin-bottom: 172px; }

.lib-ml-43 {
  margin-left: 172px; }

.lib-mr-43 {
  margin-right: 172px; }

.lib-my-43 {
  margin-top: 172px;
  margin-bottom: 172px; }

.lib-mx-43 {
  margin-left: 172px;
  margin-right: 172px; }

.lib-p-43 {
  padding: 172px; }

.lib-pt-43 {
  padding-top: 172px; }

.lib-pb-43 {
  padding-bottom: 172px; }

.lib-pl-43 {
  padding-left: 172px; }

.lib-pr-43 {
  padding-right: 172px; }

.lib-py-43 {
  padding-top: 172px;
  padding-bottom: 172px; }

.lib-px-43 {
  padding-left: 172px;
  padding-right: 172px; }

.lib-m-44 {
  margin: 176px; }

.lib-mt-44 {
  margin-top: 176px; }

.lib-mb-44 {
  margin-bottom: 176px; }

.lib-ml-44 {
  margin-left: 176px; }

.lib-mr-44 {
  margin-right: 176px; }

.lib-my-44 {
  margin-top: 176px;
  margin-bottom: 176px; }

.lib-mx-44 {
  margin-left: 176px;
  margin-right: 176px; }

.lib-p-44 {
  padding: 176px; }

.lib-pt-44 {
  padding-top: 176px; }

.lib-pb-44 {
  padding-bottom: 176px; }

.lib-pl-44 {
  padding-left: 176px; }

.lib-pr-44 {
  padding-right: 176px; }

.lib-py-44 {
  padding-top: 176px;
  padding-bottom: 176px; }

.lib-px-44 {
  padding-left: 176px;
  padding-right: 176px; }

.lib-m-45 {
  margin: 180px; }

.lib-mt-45 {
  margin-top: 180px; }

.lib-mb-45 {
  margin-bottom: 180px; }

.lib-ml-45 {
  margin-left: 180px; }

.lib-mr-45 {
  margin-right: 180px; }

.lib-my-45 {
  margin-top: 180px;
  margin-bottom: 180px; }

.lib-mx-45 {
  margin-left: 180px;
  margin-right: 180px; }

.lib-p-45 {
  padding: 180px; }

.lib-pt-45 {
  padding-top: 180px; }

.lib-pb-45 {
  padding-bottom: 180px; }

.lib-pl-45 {
  padding-left: 180px; }

.lib-pr-45 {
  padding-right: 180px; }

.lib-py-45 {
  padding-top: 180px;
  padding-bottom: 180px; }

.lib-px-45 {
  padding-left: 180px;
  padding-right: 180px; }

.lib-m-64 {
  margin: 256px; }

.lib-mt-64 {
  margin-top: 256px; }

.lib-mb-64 {
  margin-bottom: 256px; }

.lib-ml-64 {
  margin-left: 256px; }

.lib-mr-64 {
  margin-right: 256px; }

.lib-my-64 {
  margin-top: 256px;
  margin-bottom: 256px; }

.lib-mx-64 {
  margin-left: 256px;
  margin-right: 256px; }

.lib-p-64 {
  padding: 256px; }

.lib-pt-64 {
  padding-top: 256px; }

.lib-pb-64 {
  padding-bottom: 256px; }

.lib-pl-64 {
  padding-left: 256px; }

.lib-pr-64 {
  padding-right: 256px; }

.lib-py-64 {
  padding-top: 256px;
  padding-bottom: 256px; }

.lib-px-64 {
  padding-left: 256px;
  padding-right: 256px; }

.lib-m-120 {
  margin: 480px; }

.lib-mt-120 {
  margin-top: 480px; }

.lib-mb-120 {
  margin-bottom: 480px; }

.lib-ml-120 {
  margin-left: 480px; }

.lib-mr-120 {
  margin-right: 480px; }

.lib-my-120 {
  margin-top: 480px;
  margin-bottom: 480px; }

.lib-mx-120 {
  margin-left: 480px;
  margin-right: 480px; }

.lib-p-120 {
  padding: 480px; }

.lib-pt-120 {
  padding-top: 480px; }

.lib-pb-120 {
  padding-bottom: 480px; }

.lib-pl-120 {
  padding-left: 480px; }

.lib-pr-120 {
  padding-right: 480px; }

.lib-py-120 {
  padding-top: 480px;
  padding-bottom: 480px; }

.lib-px-120 {
  padding-left: 480px;
  padding-right: 480px; }

/* Region regular */
/* Endregion regular */
/* Region medium */
/* Endregion medium */
/* Region semibold */
/* Endregion semibold */
/* Region bold */
/* Endregion bold */
/* Endregion extrabold */
/* Endregion ectrabold */
/* Region regular */
.lib-content-regular-xxs {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 24px; }

.lib-content-regular-xs {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 24px; }

.lib-content-regular-s {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px; }

.lib-content-regular-m {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px; }

.lib-content-regular-l {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px; }

.lib-content-regular-xl {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px; }

/* Endregion regular */
/* Region medium */
.lib-content-medium-xxs {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 24px; }

.lib-content-medium-xs {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 24px; }

.lib-content-medium-s {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px; }

.lib-content-regular-m {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px; }

.lib-content-medium-l {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px; }

.lib-content-medium-xl {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px; }

/* Endregion medium */
/* Region semibold */
.lib-content-semibold-xxs {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 24px; }

.lib-content-semibold-xs {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 24px; }

.lib-content-semibold-s {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px; }

.lib-content-semibold-m {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px; }

.lib-content-semibold-l {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px; }

.lib-content-semibold-xl {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px; }

/* Endregion semibold */
/* Region bold */
.lib-content-bold-xxs {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 24px; }

.lib-content-bold-xs {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 24px; }

.lib-content-bold-s {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px; }

.lib-content-bold-m {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px; }

.lib-content-bold-l {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px; }

.lib-content-bold-xl {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px; }

/* Endregion bold */
/* Endregion extrabold */
.lib-content-extrabold-xxs {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 24px; }

.lib-content-extrabold-xs {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 11px;
  line-height: 24px; }

.lib-content-extrabold-s {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 24px; }

.lib-content-extrabold-m {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px; }

.lib-content-extrabold-l {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px; }

.lib-content-extrabold-xl {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px; }

/* Region radius */
/* Endregion radius */
.lib-br-name {
  border-radius: 2px; }

.lib-br-name {
  border-radius: 4px; }

.lib-br-name {
  border-radius: 6px; }

.lib-br-name {
  border-radius: 8px; }

.lib-br-name {
  border-radius: 10px; }

.lib-br-name {
  border-radius: 12px; }

.lib-br-name {
  border-radius: 14px; }

.lib-br-name {
  border-radius: 16px; }

.lib-br-name {
  border-radius: 18px; }

.lib-br-name {
  border-radius: 20px; }

.lib-br-name {
  border-radius: 22px; }

.lib-br-name {
  border-radius: 24px; }

.lib-br-name {
  border-radius: 26px; }

/* Region spacing */
/* Endregion spacing */
.lib-w-1 {
  width: 4px !important; }

.lib-h-1 {
  height: 4px !important; }

.lib-w-2 {
  width: 8px !important; }

.lib-h-2 {
  height: 8px !important; }

.lib-w-3 {
  width: 12px !important; }

.lib-h-3 {
  height: 12px !important; }

.lib-w-4 {
  width: 16px !important; }

.lib-h-4 {
  height: 16px !important; }

.lib-w-5 {
  width: 20px !important; }

.lib-h-5 {
  height: 20px !important; }

.lib-w-6 {
  width: 24px !important; }

.lib-h-6 {
  height: 24px !important; }

.lib-w-7 {
  width: 28px !important; }

.lib-h-7 {
  height: 28px !important; }

.lib-w-8 {
  width: 32px !important; }

.lib-h-8 {
  height: 32px !important; }

.lib-w-9 {
  width: 36px !important; }

.lib-h-9 {
  height: 36px !important; }

.lib-w-10 {
  width: 40px !important; }

.lib-h-10 {
  height: 40px !important; }

.lib-w-11 {
  width: 44px !important; }

.lib-h-11 {
  height: 44px !important; }

.lib-w-12 {
  width: 48px !important; }

.lib-h-12 {
  height: 48px !important; }

.lib-w-13 {
  width: 52px !important; }

.lib-h-13 {
  height: 52px !important; }

.lib-w-14 {
  width: 56px !important; }

.lib-h-14 {
  height: 56px !important; }

.lib-w-15 {
  width: 60px !important; }

.lib-h-15 {
  height: 60px !important; }

.lib-w-16 {
  width: 64px !important; }

.lib-h-16 {
  height: 64px !important; }

.lib-w-17 {
  width: 68px !important; }

.lib-h-17 {
  height: 68px !important; }

.lib-w-18 {
  width: 72px !important; }

.lib-h-18 {
  height: 72px !important; }

.lib-w-19 {
  width: 76px !important; }

.lib-h-19 {
  height: 76px !important; }

.lib-w-20 {
  width: 80px !important; }

.lib-h-20 {
  height: 80px !important; }

.lib-w-21 {
  width: 84px !important; }

.lib-h-21 {
  height: 84px !important; }

.lib-w-22 {
  width: 88px !important; }

.lib-h-22 {
  height: 88px !important; }

.lib-w-23 {
  width: 92px !important; }

.lib-h-23 {
  height: 92px !important; }

.lib-w-24 {
  width: 96px !important; }

.lib-h-24 {
  height: 96px !important; }

.lib-w-25 {
  width: 100px !important; }

.lib-h-25 {
  height: 100px !important; }

.lib-w-26 {
  width: 104px !important; }

.lib-h-26 {
  height: 104px !important; }

.lib-w-27 {
  width: 108px !important; }

.lib-h-27 {
  height: 108px !important; }

.lib-w-28 {
  width: 112px !important; }

.lib-h-28 {
  height: 112px !important; }

.lib-w-29 {
  width: 116px !important; }

.lib-h-29 {
  height: 116px !important; }

.lib-w-30 {
  width: 120px !important; }

.lib-h-30 {
  height: 120px !important; }

.lib-w-31 {
  width: 124px !important; }

.lib-h-31 {
  height: 124px !important; }

.lib-w-32 {
  width: 128px !important; }

.lib-h-32 {
  height: 128px !important; }

.lib-w-33 {
  width: 132px !important; }

.lib-h-33 {
  height: 132px !important; }

.lib-w-34 {
  width: 136px !important; }

.lib-h-34 {
  height: 136px !important; }

.lib-w-35 {
  width: 140px !important; }

.lib-h-35 {
  height: 140px !important; }

.lib-w-36 {
  width: 144px !important; }

.lib-h-36 {
  height: 144px !important; }

.lib-w-37 {
  width: 148px !important; }

.lib-h-37 {
  height: 148px !important; }

.lib-w-38 {
  width: 152px !important; }

.lib-h-38 {
  height: 152px !important; }

.lib-w-39 {
  width: 156px !important; }

.lib-h-39 {
  height: 156px !important; }

.lib-w-40 {
  width: 160px !important; }

.lib-h-40 {
  height: 160px !important; }

.lib-w-41 {
  width: 164px !important; }

.lib-h-41 {
  height: 164px !important; }

.lib-w-42 {
  width: 168px !important; }

.lib-h-42 {
  height: 168px !important; }

.lib-w-43 {
  width: 172px !important; }

.lib-h-43 {
  height: 172px !important; }

.lib-w-44 {
  width: 176px !important; }

.lib-h-44 {
  height: 176px !important; }

.lib-w-45 {
  width: 180px !important; }

.lib-h-45 {
  height: 180px !important; }

.lib-w-120 {
  width: 480px !important; }

.lib-h-120 {
  height: 480px !important; }

.lib-main-sidenav {
  height: 65px;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1000;
  background: #F8F9FC;
  -moz-box-shadow: inset 0px -4px 4px rgba(113, 123, 188, 0.25);
  -webkit-box-shadow: inset 0 -4px 4px rgba(113, 123, 188, 0.25);
  box-shadow: inset 0px -4px 4px rgba(113, 123, 188, 0.25); }
  .lib-main-sidenav #MainNavBar #NavbarItems {
    position: absolute;
    right: 0; }
    .lib-main-sidenav #MainNavBar #NavbarItems .lib-menu .lib-menu-item {
      cursor: pointer;
      display: inline-block;
      position: relative; }
      .lib-main-sidenav #MainNavBar #NavbarItems .lib-menu .lib-menu-item .lib-flag-img {
        position: absolute;
        top: 11px;
        left: 9px; }
      .lib-main-sidenav #MainNavBar #NavbarItems .lib-menu .lib-menu-item .lib-text-right {
        text-align: right; }

.lib-navbar {
  position: fixed;
  right: 0;
  width: 100vw;
  height: 65px; }

/*Region blue gray */
/* Endregion blue gray */
/* Region gray */
/* Endregion gray */
/* Region green */
/* Endregion green*/
/* Region red */
/* Endregion red */
/*.sidebar {
    height: calc(100% - 67px);
    width: 250px;
    //position: absolute;
    position: fixed;
    background-color: $blue-gray-800;
    top: 67px;

    div {
        padding: 8px;
        font-size: 24px;
        display: block;
    }
}*/
.sidebar {
  height: calc(100% - 67px);
  width: 250px;
  position: fixed;
  background-color: #293056;
  top: 67px; }
  .sidebar a, .sidebar .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none; }
  .sidebar a:hover {
    color: #98A2B3; }
  .sidebar .dropdown-container {
    display: none; }
  .sidebar .active {
    background: #F8F9FC;
    width: 90%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #3E4784;
    -moz-box-shadow: inset 0px 4px 4px rgba(41, 48, 86, 0.25);
    -webkit-box-shadow: inset 0 0 8px rgba(113, 123, 188, 0.25);
    box-shadow: inset 0px 4px 4px rgba(41, 48, 86, 0.25); }

.body-text {
  margin-left: 150px;
  font-size: 18px; }

/*Region blue gray */
/* Endregion blue gray */
/* Region gray */
/* Endregion gray */
/* Region green */
/* Endregion green*/
/* Region red */
/* Endregion red */
.lib-simple-btn {
  border-radius: 6px;
  text-align: center;
  border: none;
  padding: .375rem .75rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: #EAECF5;
  color: #3E4784; }
  .lib-simple-btn.btn:focus {
    box-shadow: none; }
  .lib-simple-btn:hover {
    color: #F2F4F7;
    background: #3E4784; }

.lib-dark-btn {
  border-radius: 6px;
  text-align: center;
  border: none;
  padding: .375rem .75rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #F9FAFB;
  background: #293056; }
  .lib-dark-btn.btn:focus {
    box-shadow: none; }
  .lib-dark-btn:hover {
    background: #363F72;
    color: #F8F9FC; }

.lib-enabled-btn {
  border-radius: 6px;
  text-align: center;
  border: none;
  padding: .375rem .75rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: #68AA76;
  color: #F9FAFB; }
  .lib-enabled-btn.btn:focus {
    box-shadow: none; }
  .lib-enabled-btn:hover {
    color: #F9FAFB; }

.lib-disabled-btn {
  border-radius: 6px;
  text-align: center;
  border: none;
  padding: .375rem .75rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: #F97066;
  color: #7A271A; }
  .lib-disabled-btn.btn:focus {
    box-shadow: none; }
  .lib-disabled-btn:hover {
    color: #7A271A; }

.lib-button-header-light {
  border-radius: 6px;
  text-align: center;
  border: none;
  padding: .375rem .75rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: transparent; }
  .lib-button-header-light.btn:focus {
    box-shadow: none; }
  .lib-button-header-light:hover {
    color: #7A271A; }

/*Region blue gray */
/* Endregion blue gray */
/* Region gray */
/* Endregion gray */
/* Region green */
/* Endregion green*/
/* Region red */
/* Endregion red */
.lib-white-card {
  border-radius: 6px;
  text-align: center;
  border: none;
  padding: .375rem .75rem;
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background: #F8F9FC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.lib-white-user-card {
  border-radius: 6px;
  text-align: center;
  border: none;
  padding: .375rem .75rem;
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background: #FCFCFD;
  border-radius: 0px;
  box-shadow: 0px 0px 8px rgba(16, 19, 35, 0.25); }

.lib-red-card {
  border-radius: 6px;
  text-align: center;
  border: none;
  padding: .375rem .75rem;
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background: #F97066;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.lib-enabled-card {
  border-radius: 6px;
  text-align: center;
  border: none;
  padding: .375rem .75rem;
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background: #68AA76;
  color: #F9FAFB; }

.lib-disabled-card {
  border-radius: 6px;
  text-align: center;
  border: none;
  padding: .375rem .75rem;
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background: #F97066;
  color: #7A271A; }

/*Region blue gray */
/* Endregion blue gray */
/* Region gray */
/* Endregion gray */
/* Region green */
/* Endregion green*/
/* Region red */
/* Endregion red */
/* Region spacing */
/* Endregion spacing */
/* Region radius */
/* Endregion radius */
.lib-textbox {
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background: #FCFCFD;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .lib-textbox.form-control:focus {
    background: #EAECF5;
    border: 1.5px solid #363F72;
    box-shadow: none; }
  .lib-textbox:focus-visible {
    outline: none; }

.lib-search-textbox {
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  border: none;
  border-radius: 26px;
  background: #F8F9FC;
  padding-left: 24px;
  box-shadow: inset 0px 4px 4px rgba(200, 204, 229, 0.25); }
  .lib-search-textbox.form-control:focus {
    background: #EAECF5;
    border: 1.5px solid #363F72;
    box-shadow: none; }
  .lib-search-textbox:focus-visible {
    outline: none; }

.lib-textera {
  box-sizing: border-box;
  height: 120px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background: #FCFCFD;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .lib-textera.form-control:focus {
    background: #EAECF5;
    border: 1.5px solid #363F72;
    box-shadow: none; }
  .lib-textera:focus-visible {
    outline: none; }

.lib-content-container {
  /*width: calc(100% - 250px);
    left: 250px;
    position: relative;
    top: 67px;
    max-height: calc(100% - 67px);*/
  width: calc(100% - 390px);
  left: 320px;
  right: 70px;
  position: relative;
  top: 67px;
  max-height: calc(100vh - 120px);
  bottom: 53px; }
  .lib-content-container .lib-content {
    min-width: 100%;
    max-height: 100%; }

a {
  text-decoration: none;
  color: white; }

.lib-active {
  background: #F8F9FC;
  width: 90%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #3E4784;
  -moz-box-shadow: inset 0px 4px 4px rgba(41, 48, 86, 0.25);
  -webkit-box-shadow: inset 0 0 8px rgba(113, 123, 188, 0.25);
  box-shadow: inset 0px 4px 4px rgba(41, 48, 86, 0.25); }

