/*!*****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./Features/Auth/Content/login/login.scss ***!
  \*****************************************************************************************************************************************************************************************/
#LoginContainer.lib-white-card {
  width: 480px;
  max-height: 600px; }

#LoginContainer .lib-img {
  width: 50%;
  height: 50%;
  border-radius: 100%; }

