#LoginContainer {
    &.lib-white-card {
        width: 480px;
        height: 510px;
    }
    .lib-img {
        width: 50%;
        height: 50%;
        border-radius: 100%;
    }
    #LoginForm {

    }
}