@model AddAuthorViewModel

<div class="lib-mb-5 lib-mt-25 lib-white-card lib-w-163">
    <div class="row lib-pt-8 justify-content-center">
        <span class="lib-content-extrabold-xl lib-text-blue-gray-800">DODAWANIE NOWEGO AUTORA</span>
    </div>
    <form asp-controller="Book" asp-action="AddAuthor" data-method="POST" id="LofinForm" asp-antiforgery="false">
        <div class="row lib-p-3">
            <div class="col lib-m-8">
                <div class="row lib-mb-6">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control lib-textbox lib-content-medium-l lib-text-gray-500", @name = "FirstName", @placeholder = "Imię" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="row lib-mb-6">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control lib-textbox lib-content-medium-l lib-text-gray-500", @name = "LastName", @placeholder = "Nazwisko" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row justify-content-end lib-pr-10 lib-pb-5">
            <button type="submit" class="btn lib-dark-btn lib-text-gray-50 lib-w-24 lib-h-10 lib-content-bold-m">DODAJ</button>
        </div>
    </form>
</div>