<div class="lib-mb-5 lib-mt-5 lib-white-card w-100 lib-mb-5">
    <div class="row lib-p-3">
        <div class="col-auto">
            <img src="~/img/BookCovers/Doktor-Sen.jpg" style="width:100px; height: 100px;" />
        </div>
        <div class="col">
            <div class="row lib-mt-5">
                <span class="lib-content-regular-xl">Stephen King</span>
            </div>
            <div class="row">
                <span class="lib-content-regular-l">Doktor sen</span>
            </div>
        </div>
        <div class="col-auto">
            <div class="row justify-content-end ">
                <div class="lib-p-2">
                    <span class="lib-enabled-card lib-content-semibold-xs lib-w-25">DOSTĘPNY</span>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="text-center lib-p-2">
                    <button class="btn lib-simple-btn lib-content-regular-m lib-w-25 lib-mr-2">Opis</button>
                </div>
                <div class="text-center lib-p-2">
                    <button class="btn lib-simple-btn lib-content-regular-m lib-w-25">Rezerwuj</button>
                </div>
            </div>
        </div>
    </div>
</div>