<div class="row lib-mt-8">
    <a class="lib-content-medium-l lib-text-gray-800" onclick="back()"><img src="~/img/Other/lib-chervon-left.svg"/>Wróć</a>
</div>
<div class="row">
    <partial name="Cards/_BookCard" />
</div>
<div class="row">
    comments section
</div>
<script>
    function back() {
        window.location.href = '@Url.Action(nameof(BookController.Index), "Book")'
    }
</script>