<div class="row lib-mt-8">
    <span class="lib-content-medium-l lib-text-gray-800">Wróć</span>
</div>
<div class="row">
    <partial name="Cards/_BookCard" />
</div>
<div class="row">
    comments section
</div>
