@import '../../variables/colors.scss';

@mixin lib-button {
    border-radius: 6px;
    text-align: center;
    border: none;
    padding: .375rem .75rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;

    &.btn {
        &:focus {
            box-shadow: none;
        }
    }
}

.lib-simple-btn {
    @include lib-button;
    background: $blue-gray-100;
    color: $blue-gray-600;

    &:hover {
        color: $gray-100;
        background: $blue-gray-600;
    }
}

.lib-dark-btn {
    @include lib-button;
    color: $gray-50;
    background: $blue-gray-800;

    &:hover {
        background: $blue-gray-700;
        color: $blue-gray-50;
    }
}

.lib-enabled-btn {
    @include lib-button;
    background: $green-primary;
    color: $gray-50;

    &:hover {
        color: $gray-50;
    }
}

.lib-disabled-btn {
    @include lib-button;
    background: $red-primary;
    color: $red-secondary;

    &:hover {
        color: $red-secondary;
    }
}

.lib-button-header-light {
    @include lib-button;
    background-color: transparent;

    &:hover {
        color: $red-secondary;
    }
}

/*.lib-form-button {
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    border: none;
    border-radius: $radius-03;
    background: $blue-gray-25;
    padding-left: $spacer-04;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &.form-control {
        &:focus {
            background: $blue-gray-100;
            border: 1.5px solid $blue-gray-700;
            box-shadow: none;
        }
    }

    &:focus-visible {
        outline: none;
    }

    &.btn {
        &:focus {
            box-shadow: none;
        }
    }
}

.dropdown-item {
    &:active {
        color: $gray-50;
        text-decoration: none;
        background-color: $blue-gray-800;
    }

    &:hover {
        color: $gray-50;
        text-decoration: none;
        background-color: $blue-gray-800;
    }
}

.dropdown-toggle {
    &::after {
        position: absolute;
        right: 15px;
        top: 20px;
    }
}*/