@import '../../variables/colors.scss';

@mixin lib-button {
    border-radius: 6px;
    text-align: center;
    border: none;
    padding: .375rem .75rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;

    &.btn {
        &:focus {
            box-shadow: none;
        }
    }
}

.lib-simple-btn {
    @include lib-button;
    background: $blue-gray-100;
    color: $blue-gray-600;

    &:hover {
        color: $gray-100;
        background: $blue-gray-600;
    }
}

.lib-dark-btn {
    @include lib-button;
    color: $gray-50;
    background: $blue-gray-800;

    &:hover {
        background: $blue-gray-700;
        color: $blue-gray-50;
    }
}

.lib-enabled-btn {
    @include lib-button;
    background: $green-primary;
    color: $gray-50;

    &:hover {
        color: $gray-50;
    }
}

.lib-disabled-btn {
    @include lib-button;
    background: $red-primary;
    color: $red-secondary;

    &:hover {
        color: $red-secondary;
    }
}

.lib-button-header-light {
    @include lib-button;
    background-color: transparent;

    &:hover {
        color: $red-secondary;
    }
}