@model UserCollectionViewModel

<div class="row lib-mb-5 lib-mt-5 lib-mb-5">
    @foreach (var user in Model.UsersCollection)
    {
        <div class="col-6 d-flex">
            <partial name="Cards/_Card" model="user"/>
        </div>
    }

</div>