@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-end lib-mb-5 lib-mt-5 lib-mb-5 row lib-p-3">
        <input class="lib-search-textbox lib-w-45 lib-content-medium-xl" placeholder="Search..."/>
</div>
<div class="lib-mb-5 lib-mt-5 lib-white-card w-100 lib-mb-5">
    <div class="row lib-p-3">
        <div class="col-auto">
            <img src="~/img/BookCovers/Doktor-Sen.jpg" style="width:100px; height: 100px;"/>
        </div>
        <div class="col">
            <div class="row lib-mt-5">
                <span class="lib-content-regular-xl">Stephen King</span>
            </div>
            <div class="row">
                <span class="lib-content-regular-l">Doktor sen</span>
            </div>
        </div>
        <div class="col-auto">
            <div class="row justify-content-end ">
                <div class="lib-p-2">
                    <span class="lib-enabled-card lib-content-semibold-xs lib-w-25">DOSTĘPNY</span>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="text-center lib-p-2">
                    <button class="btn lib-simple-btn lib-content-regular-m lib-w-25 lib-mr-2">Opis</button>
                </div>
                <div class="text-center lib-p-2">
                    <button class="btn lib-simple-btn lib-content-regular-m lib-w-25">Rezerwuj</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="lib-mb-5 lib-mt-5 lib-white-card w-100 lib-mb-5">
    <div class="row lib-p-3">
        <div class="col-auto">
            <img src="~/img/BookCovers/Doktor-Sen.jpg" style="width:100px; height: 100px;" />
        </div>
        <div class="col">
            <div class="row lib-mt-5">
                <span class="lib-content-regular-xl">Stephen King</span>
            </div>
            <div class="row">
                <span class="lib-content-regular-l">Doktor sen</span>
            </div>
        </div>
        <div class="col-auto">
            <div class="row justify-content-end">
                <div class="lib-p-2">
                    <span class="lib-disabled-card lib-content-semibold-xs lib-w-25">NEDOSTĘPNY</span>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="lib-p-2">
                    <button class="btn lib-simple-btn lib-content-regular-m lib-w-25 lib-mr-2">Opis</button>
                </div>
                <div class="text-center lib-p-2">
                    <button class="btn lib-simple-btn lib-content-regular-m lib-w-25">Rezerwuj</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="lib-mb-5 lib-mt-5 lib-white-card w-100 lib-mb-5">
    <div class="row lib-p-3">
        <div class="col-auto">
            <img src="~/img/BookCovers/Doktor-Sen.jpg" style="width:100px; height: 100px;" />
        </div>
        <div class="col">
            <div class="row lib-mt-5">
                <span class="lib-content-regular-xl">Stephen King</span>
            </div>
            <div class="row">
                <span class="lib-content-regular-l">Doktor sen</span>
            </div>
        </div>
        <div class="col-auto">
            <div class="row justify-content-end ">
                <div class="lib-p-2">
                    <span class="lib-enabled-card lib-content-semibold-xs lib-w-25">DOSTĘPNY</span>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="text-center lib-p-2">
                    <button class="btn lib-simple-btn lib-content-regular-m lib-w-25 lib-mr-2">Opis</button>
                </div>
                <div class="text-center lib-p-2">
                    <button class="btn lib-simple-btn lib-content-regular-m lib-w-25">Rezerwuj</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="lib-mb-5 lib-mt-5 lib-white-card w-100 lib-mb-5">
    <div class="row lib-p-3">
        <div class="col-auto">
            <img src="~/img/BookCovers/Doktor-Sen.jpg" style="width:100px; height: 100px;" />
        </div>
        <div class="col">
            <div class="row lib-mt-5">
                <span class="lib-content-regular-xl">Stephen King</span>
            </div>
            <div class="row">
                <span class="lib-content-regular-l">Doktor sen</span>
            </div>
        </div>
        <div class="col-auto">
            <div class="row justify-content-end ">
                <div class="lib-p-2">
                    <span class="lib-enabled-card lib-content-semibold-xs lib-w-25">DOSTĘPNY</span>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="text-center lib-p-2">
                    <button class="btn lib-simple-btn lib-content-regular-m lib-w-25 lib-mr-2">Opis</button>
                </div>
                <div class="text-center lib-p-2">
                    <button class="btn lib-simple-btn lib-content-regular-m lib-w-25">Rezerwuj</button>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="text-center lib-p-10">
    <button class="btn lib-enabled-btn lib-content-semibold-xs">DOSTĘPNY</button>
</div>
<div class="text-center lib-p-10">
    <button class="btn lib-disabled-btn lib-content-semibold-xs">NEDOSTĘPNY</button>
</div>

<div class="text-center lib-p-10">
    <span class="lib-enabled-card lib-content-semibold-xs">DOSTĘPNY</span>
</div>
<div class="text-center lib-p-10">
    <span class="lib-disabled-card lib-content-semibold-xs">NEDOSTĘPNY</span>
</div>

<div class="text-center lib-p-10">
    <button class="btn lib-simple-btn llib-content-regular-m">Opis</button>
</div>
<div class="text-center lib-p-10">
    <button class="btn lib-simple-btn lib-content-regular-m">Rezerwuj</button>
</div>
*@
