@{
    ViewData["Title"] = "Home Page";
}

<div class="lib-mb-5 lib-mt-5 lib-white-card w-100">
    <div class="row lib-p-20">
        To jest biała karta do wyświetlania danych dotyczących biblioteki
    </div>
</div>

<div class="text-center lib-p-10">
    <button class="btn lib-enabled-btn lib-content-semibold-xs">DOSTĘPNY</button>
</div>
<div class="text-center lib-p-10">
    <button class="btn lib-disabled-btn lib-content-semibold-xs">NEDOSTĘPNY</button>
</div>

<div class="text-center lib-p-10">
    <span class="lib-enabled-card lib-content-semibold-xs">DOSTĘPNY</span>
</div>
<div class="text-center lib-p-10">
    <span class="lib-disabled-card lib-content-semibold-xs">NEDOSTĘPNY</span>
</div>

<div class="text-center lib-p-10">
    <button class="btn lib-simple-btn llib-content-regular-m">Opis</button>
</div>
<div class="text-center lib-p-10">
    <button class="btn lib-simple-btn lib-content-regular-m">Rezerwuj</button>
</div>

