@import '../../variables/colors.scss';

.sidebar {
    height: calc(100% - 67px);
    width: 250px;
    //position: absolute;
    position: fixed;
    background-color: $blue-gray-800;
    top: 67px;

    div {
        padding: 8px;
        font-size: 24px;
        display: block;
    }
}


.body-text {
    margin-left: 150px;
    font-size: 18px;
}
