@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Uwaga</h1>
<h2 class="text-danger">Brak uprawnień</h2>


<p>
    <strong>Brak dostępu.</strong> Abu korzystać z tej strony musisz być administratorem.
</p>
